.header-nav {
    background-color: #161616;
    text-align: right;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  .cinema-guru {
    position: absolute;
    left: 2rem;
  }
  
  .profile-img {
    width: 2.5rem;
    border-radius: 50%;
    border: solid #BB000E 3px;
    margin: 0.5rem;
  
  }
  
  .welcome-user {
    display: inline;
    margin-right: 2rem;
  }
  
  .logout-icon, .header-span {
    color: #BB000E;
  }
  
  .header-span {
    margin-right: 2rem;
  }
  
   /* __________ SIDEBAR __________ */
  
  .sidebar {
    width: 55px;
    background-color: #BB000E;
    font-size: 0;
    text-align:  center;
  }
  
  .sidebar:hover {
    width: 300px;
    font-size: 16px;
    text-align: left;
  }
  
  .sidebar-ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0;
  }
  .sidebar-ul li {
    /* text-align:  center; */
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-ul li:hover {
    background-color: #E31C25;
    text-align: center;
  }
  
  .latest-activities {
    text-align: center;
    font-size: 24px;
  }
  
  .activity-list {
    background-color: #2C2C2C;
    padding: 5px;
    margin: 5px;
    display: none;
  }
  .sidebar:hover .activity-list {
    display: block;
  }
  
  .side-icon {
    color: white;
    font-size: 16px;
  }